<%= form_for @post] do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= error_message form,:title%>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= error_message form,:content%>

  </div>

  <div class="field">
    <%= f.label :is_published ,"Publish" %>
    <%= f.check_box :is_published %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
