
<div class="container">
  <div class="row">
    <%= form_for @post do |form| %>
            <div class="row">
            <div class="col-md-10">
            <div class="form-group">
                    <%= form.text_field :title ,:placeholder=>"Name",:class=>"form-control"%>
                    <%= error_message form,:title%>
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <div class="form-group">
                    <%= form.text_area :content ,:placeholder=>"Content",:class=>"form-control",:size=>"20x10"%>
                    <%= error_message form,:content%>
              </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                   <%= form.label :is_published ,"Publish Now : " %>
                   <%= form.check_box :is_published%>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
               <%= form.submit "Submit",:class => "btn main-btn pull-right" %>
           </div>
          </div>
    <%end%>
  </div>
</div>